body {
  margin: 0;
  background-color: #282c34;
}

$primary: #1890ff;
$danger: #ff7875;
$warning: #ffb31a;

#root{
  height: 100%;
}
.cont-wrap{
  padding: 20px;
}

@for $i from 12 through 120 {
  .font-#{$i} {
    font-size: #{$i}px !important;
  }
}
.font-weight{
  font-weight: bold;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.display-block{
  display: block;
}
.display-flex{
  display: flex;
}
.display-none{
  display: none;
}
.flex-1{
  flex: 1;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-black{
  color: #000;
}
.text-white{
  color: #fff;
}
.text-primary{
  color: $primary;
}
.text-danger{
  color: $danger;
}
.text-warning{
  color: $warning;
}
.text-gray-9{
  color: #999;
}
.text-gray-c{
  color: #ccc;
}
.text-gray-eb{
  color: #ebebeb;
}
.cursor-pointer{
  cursor: pointer;
}

.m-auto{
  margin: 0 auto;
}

@for $i from 0 through 50 {
  .mt-#{2 * $i} {
    margin-top: 2px * $i;
  }
  .mb-#{2 * $i} {
    margin-bottom: 2px * $i;
  }
  .ml-#{2 * $i} {
    margin-left: 2px * $i;
  }
  .mr-#{2 * $i} {
    margin-right: 2px * $i;
  }
}

@for $i from 0 through 50 {
  .pt-#{2 * $i} {
    padding-top: 2px * $i;
  }
  .pb-#{2 * $i} {
    padding-bottom: 2px * $i;
  }
  .pl-#{2 * $i} {
    padding-left: 2px * $i;
  }
  .pr-#{2 * $i} {
    padding-right: 2px * $i;
  }
  .pall-#{2 * $i} {
    padding: 2px * $i;
  }
}
.pl-200{
  padding-left: 200px;
}

.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-33{
  width: 33.333333%;
}
.w-25{
  width: 25%;
}

.h-100{
  height: 100% !important;
}

.bg-white{
  background: #fff;
}

.br-5{
  border-radius: 5px;
}
.br-10{
  border-radius: 10px;
}

#root{
  height: 100%;
}

.guangbiao{
  width: 12px;
  height: 1px;
  display: inline-block;
  animation: myguangbiao .5s infinite;
}
@keyframes myguangbiao {
  from {
    background: rgba(255, 255, 255, .6);
  }
  to {
    background: rgba(255, 255, 255, 0);
  }
}

.has-guangbiao-box{
  p{
    &:last-child{
      span{
        position: relative;
        &:after{
          content: "";
          width: 1px;
          height: 18px;
          display: inline-block;
          animation: hasguangbiaobox .5s infinite;
          position: absolute;
          top: 50%;
          margin-top: -9px;
          right: -20px;
        }
      }
    }
  }
}
@keyframes hasguangbiaobox {
  from {
    background: rgba(255, 255, 255, .6);
  }
  to {
    background: rgba(255, 255, 255, 0);
  }
}

