.ant-layout{
  height: 100%;
  .logo{
    height: 32px;
    margin: 16px;
    background-image: url('../../assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  .ant-layout-sider{
    z-index: 9;
  }
  .ant-layout-sider-collapsed{
    .anticon{
      font-size: 16px;
      // margin-left: 8px;
    }
    .nav-text{
      display: none;
    }
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after{
      display: none;
    }
    .ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open {
      color: inherit;
    }
  }
  p {
    margin: 10px 0 10px 0;
  }
}

.header{
  width: 100%;
  height: 54px;
  position: fixed;
  left: 0;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 108, 255, 0.06);
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 8;
  &.ant-layout-header{
    height: 54px;
  }
  .ant-menu-light{
    line-height: auto;
    background: none;
    .ant-menu-submenu-horizontal{
      vertical-align: middle;
      .ant-menu-submenu-title{
        height: 54px;
        padding: 0;
      }
    }
  }
  .avatar{
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 100%;
    padding: 11px;
    box-sizing: border-box;
    img{
      width: 32px;
      height: 32px;
      border-radius: 100%;
      display: block;
    }
  }
}

.ant-layout-content{
  .cont-wrap{
    padding: 74px 20px;
  }
}

.ant-layout-footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 16px 0;
}